* {
	margin: 0px;
	padding: 0px;
	position: relative;
}
		  
body {
	background-color: #DEF;
}
		    .navbar {
				position: relative;
			    width: auto;
		        height: auto;
			    padding-left: 15px;
				padding-right: 15px;
				
				color: #FFF;
				background-color: #234;
				font-size: 20px;
			}
            .navbar:hover {
			     background-color: #345;
            }
			.navbar li {
			    padding: 10px;
			    display: inline-block;
				
				font-family: Patua One;
			}
			.navbar li:hover {
			    color: #9FF;
			}
			
			table {
			    margin-left: auto;
				margin-right: auto;
				border-collapse: separate; 
			    border-spacing: 30px;
			}
			td {
			    color: #FFF;
			    background-color: #456;
			}
      td:hover {
				background-color: #345;
      }
			.heading {
			    font-family: Staatliches;
			    font-size: 25px;
			}
			.subheading {
			    font-family: Patua One;
		        font-size: 20px;
			}
			.body {
			    font-family: Bebas Neue;
			    font-size: 20px;
			}
			
			hr {
			    background-color: #FFF;
				border: 1px solid #FFF;
			    border-radius: 1px;
				margin-top: 5px;
		            margin-bottom: 5px;
			}
			a {
			    text-decoration: none;
			    color: #FFF;
			}
			a:hover {
			    color: #BFF;
			}
