html {
scroll-behavior: smooth;
}

body {
  background-color: #444;
  padding: 50px 10px;
  font-family: 'Oxanium';
}
h2 {
  color: #fff;
  text-align: center;
}

.container {
  width: 768px !important;
  padding-left: 0px;
  padding-right: 0px;
}
.float-right {
  margin-right: 10%;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .container {
    width: auto !important;
    margin: 10px;
  }
}

.text {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: 80px;
  width: 500px;
  text-align: center;
  font-size: 48px;
  color: #fff;
}

#text {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: 80px;
  width: 500px;
  text-align: center;
  font-size: 48px;
  color: #fff;
  font-family: 'Share Tech Mono';
}

#keyboard {
  width: 100%;
}
.btn-group {
  margin-left: 10%;
  width: 80%;
}
.key {
  width: 50px !important; 
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Share Tech Mono';
  margin: 4px 2px;
  background-color: #fff;
  margin: 1%;
  border: 1px solid #888;
  border-radius: 5px !important;
}

#hangmanPic {
  display: block;
  width: 400px;
}

footer {
  margin-left: 10%;
  text-decoration: none;
}
footer a {
  display: inline-block;
  margin-right: 20px; 
  color: #fff;
}
footer a:hover {
  color: #ddd;
}

#howtoplay {
  margin: 10%;
  margin-top: 200px;
  padding: 5%;
  background-color: #fff;
  color: #000;
}
#howtoplay a {
  color: #000;
}
