.cont {
  width: 100%;
  background-color: #333c;
  padding: 30px;
}

img {
  display: inline;
  float: left;
  margin-right: 20px;
  height: 100%;
}
.cont .tab {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #444e;
}

h1 {
  color: white;
  text-align: center;
}
h5 {
  color: white;
}

@media (max-width: 768px) {
  img {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}



